I am currently open to working <a href="/sales-engineering/">opportunities in Sales Engineering</a>.

In the past, I led a small group to provide a mid-sized organization an Incubation Engineering (IncEng) function. IncEng
 is a critical function of business and you can think of it like an internal startup
 incubator or accelerator. Whatever the role, my future ideal IncEng team would:

* encourage innovation across the organization in product/service like outcomes
* vet internal projects for business value and payoff likelihoods
* provide business and engineering hours towards accepted ideas to guide them into successful graduates
* facilitate internal gatherings such as weekly "Mug Clubs", monthly showcases, and quarterly awards events
* continuously improve the above work motions, our own selves, and each other

Though I am not currently hiring, there are always discussions to be had. Between a professional team, other teams inside
 an organization, and even from my volunteer organizing work, I can probably help
 you move in the direction you're looking to go, be it founder or individual contributor. Maybe we can help each other too.

