{% capture logo_path %}{{ site.logo }}{% endcapture %}

<div class="masthead_wrapper">

  {% if page.permalink == "/" %}
  <style type="text/css">
    .masthead_wrapper {
    }
    .masthead {
      z-index:3;
      margin-top:50vw;
      vertical-align:bottom;
    }
    div.initial-content {
      z-index:3;
    }
  </style>
  <div class="masthead_video">
    <video playsinline autoplay muted loop poster="polina.jpg" id="bgvid">
      <source id="srcHomeLoop" src="/assets/images/home-loop.mp4" type="video/mp4">
    </video>
  </div>
  <script type="text/javascript">
    if(document.domain=='paulsbruce.io'||document.domain=='paulsbruce.github.io')
      document.getElementById('srcHomeLoop').src = 'https://media.githubusercontent.com/media/paulsbruce/paulsbruce.io/master/assets/images/home-loop.mp4'
  </script>
  {% endif %}

  <div class="masthead">

    <div class="masthead__inner-wrap">
      <div class="masthead__menu">
        <nav id="site-nav" class="greedy-nav">
          {% unless logo_path == empty %}
            <a class="site-logo" href="{{ '/' | relative_url }}"><img src="{{ logo_path | relative_url }}" alt="{{ site.masthead_title | default: site.title }}"></a>
          {% endunless %}
          <a class="site-title" href="{{ '/' | relative_url }}">
            {{ site.masthead_title | default: site.title }}
          </a>
          <ul class="visible-links">
            {%- for link in site.data.navigation.main -%}
              <li class="masthead__menu-item">
                <a href="{{ link.url | relative_url }}"{% if link.description %} title="{{ link.description }}"{% endif %}>{{ link.title }}</a>
              </li>
            {%- endfor -%}
          </ul>
          {% if site.search == true %}
          <button class="search__toggle" type="button">
            <span class="visually-hidden">{{ site.data.ui-text[site.locale].search_label | default: "Toggle search" }}</span>
            <i class="fas fa-search"></i>
          </button>
          {% endif %}
          <button class="greedy-nav__toggle hidden" type="button">
            <span class="visually-hidden">{{ site.data.ui-text[site.locale].menu_label | default: "Toggle menu" }}</span>
            <div class="navicon"></div>
          </button>
          <ul class="hidden-links hidden"></ul>
        </nav>
      </div>
    </div>
    {% if page.superheadline %}<div class="site-subtitle"><h1><span class="site-subtitle">{{ page.superheadline }}</span></h1></div>{% endif %}
  </div>

</div>
