{% assign tabs = include.tabs %}

<div class="tab flex-container">
  {% for tab in tabs %}
      <button class="tablinks" onclick="openTab(this, '{{tab.id}}')">{{tab.button}}</button>
  {% endfor %}
</div>

<style type="text/css">
  .summary-sections {
      max-width: 1024px;
      margin: auto;
      padding-left:2em;
      padding-right:2em;
  }
  .flex-container {
      display:flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: flex-start;
      align-content: stretch;
      gap: 2em;
  }
  .tab {
      /* background:green; */
      justify-content: center;
      gap: 0.5em;
  }
  /* @media only screen and (max-width: 510px) {
    .tab {
      background:red;
    }
  } */
</style>

<style type="text/css">
  /* Style the tab */
  .tab {
    overflow: hidden;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  .tablinks {
      color: #fff;
  }
  /* Change background color of buttons on hover */
  .tab button:hover {
    
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    
  }
  .tab button.active {
    border-bottom: 2px solid #fff;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
  }
  
  .tabcontent {
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
  }
  
  /* Go from zero to full opacity */
  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  </style>
  
  <script type="text/javascript">
  function openTab(el, tabId) {
    // Declare all variables
    var i, tabcontent, tablinks;

    location.hash = "_"+tabId
  
    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
  
    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
  
    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(tabId).style.display = "block";
    el.className += " active";
  }

  var tabbed_explicit_load = null;
  tabbed_explicit_load = setInterval(function() {
    if($) {
      clearInterval(tabbed_explicit_load)
      var ht = (""+location.hash).replace("#","");
      if (ht.indexOf('_') == 0) {
        var tabId = ht.replace("_","");
        openTab(document.getElementById(tabId), tabId)
      }
    }
  }, 100)
</script>