---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

$textColor: #ccc;
$highlightTextColor: #eef;
$linkHighlightColor: #ccd;
$backgroundContentColor: #222;
$backgroundPinstripeColor: #555;
$backgroundHeaderFooterColor: #1a1d24;

/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat-v18-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/montserrat-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-v18-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-800 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/montserrat-v18-latin-800.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/montserrat-v18-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-v18-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v18-latin-800.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-v18-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-v18-latin-800.svg#Montserrat') format('svg'); /* Legacy iOS */
}

html {
  background-color:$backgroundContentColor;
  scroll-behavior: smooth;
}

a {
  color: $highlightTextColor;
}
a:hover {
  color: $linkHighlightColor;
  text-decoration: none;
}
body, .page__title a {
  color: $textColor;
}

body, .masthead__inner-wrap, .site-title,
  h1,h2,h3,h4,h5,h6,
  .page__footer-copyright {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, serif;
}
h1,h2,h3,h4,h5,h6 {
  margin-top:0.5em;
}

.masthead, #site-nav {
  background-color:#444;
  padding: 0px;
}
#site-nav {
  margin:0px;
}
.site-title {
  font-size:1.2em;
  font-weight: 800;
  letter-spacing: 3px;
  text-transform: uppercase;
  color:#fff;
}
.masthead__menu-item {
  text-transform: uppercase;
  font-size: 0.8em;
}

.initial-content {
  padding-top: 1em;
}

div.site-subtitle {
  color: #fff;
  text-align: center;
  font-size: 2em;
  margin: 1em auto;
  max-width: 80%;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.flexbox-button {
  width: auto;
  margin: 1em;
  padding: 1em;
  border: solid 2px $textColor;
}
a, .flexbox-button, .flexbox-button a {
  color: $textColor;
}

.home-page-list-item {
  margin-left:0.5em;
  padding-left:0.5em;
  margin-bottom:0.5em;
  border-left:solid 2px green;
}

.home-page-list-item-partone {
  min-width:300px;
  flex:1;
  align-self:flex-start;
  margin-right:1em;
}
.home-page-list-item-parttwo {
  min-width:400px;
  flex:1;
  align-self:center;
}

.masthead_wrapper {
  z-index:2;
}
.masthead_video {
  position:fixed;
  /*opacity:30%;*/
}
#bgvid {
  width:100vw;
}
div.initial-content {
  background-color: $backgroundContentColor;
  opacity:0.95;
}
div.initial-content, .page__footer {
  z-index:4;
  margin-top:0;
}

.masthead {
  border-bottom-color:$backgroundPinstripeColor;
}
.page__footer {
  border-top-color:$backgroundPinstripeColor;
  border-top-style:solid;
  border-top-width:1px;
}
.page__footer, .masthead, #site-nav {
  background-color: $backgroundHeaderFooterColor;
}


ul.cloud {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  line-height: 2.5rem;
}

ul.cloud a {
  --size: 4;
}

ul.cloud a {
  font-size: calc(var(--size) * 0.15rem + 0.5rem);
  opacity: calc((15 - (9 - var(--size))) / 15);

  color: #eee;
  display: block;
  padding: 0.125rem 0.25rem;
  text-decoration: none;
  position: relative;
}

ul.cloud[data-show-value] a::after {
  content: " (" attr(data-weight) ")";
  font-size: 1rem;
}

ul.cloud li:nth-child(2n+1) a { color: #ddd; }
ul.cloud li:nth-child(3n+1) a { color: #ccc; }
ul.cloud li:nth-child(4n+1) a { color: #bbb; }

ul.cloud a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 100%;
  background: var(--color);
  transform: translate(-50%, 0);
  opacity: 0.15;
  transition: width 0.25s;
}

ul.cloud a:focus::before,
ul.cloud a:hover::before {
  width: 100%;
}

@media (prefers-reduced-motion) {
  ul.cloud * {
    transition: none !important;
  }
}




.vid-container {
	position: relative;
	padding-bottom: 52%;
	padding-top: 30px;
	height: 0;
}

.vid-container iframe,
.vid-container object,
.vid-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.vid-list-container {
	width: 92%;
	overflow: hidden;
	margin-top: 20px;
	margin-left:4%;
	margin-bottom: 20px;
}

.vid-list {
	width: 1344px;
	position: relative;
	top:0;
	left: 0;
}

.vid-item {
  cursor: hand;
	display: block;
	width: 148px;
	height: 100px;
	float: left;
	margin: 0;
	padding: 10px;
}

.vid-thumb {
	overflow:hidden;
	height: 84px;
}

.vid-thumb img {
	width: 100%;
	position: relative;
	top: -13px;
}

.vid-item .vid-desc {
	color: #21A1D2;
	font-size: 0.5em;
	margin-top:5px;
}

.arrows {
	position:relative;
	width: 100%;
}

.arrow-left {
	color: #fff;
	position: absolute;
	background: #777;
	padding: 15px;
	left: -25px;
	top: -100px;
	z-index: 99;
	cursor: pointer;
}

.arrow-right {
	color: #fff;
	position: absolute;
	background: #777;
	padding: 15px;
	right: -25px;
	top: -100px;
	z-index:100;
	cursor: pointer;
}

@media (max-width: 624px) {
	.arrows {
		position:relative;
		margin: 0 auto;
		width:96px;
	}
	.arrow-left {
		left: 0;
		top: -20px;
    background-color:red;
	}

	.arrow-right {
		right: 0;
		top: -20px;
	}
}

.arrow-left, .arrow-right { background: transparent; }
.fa-chevron-left::before {
  content: "&lt;"; }

.fa-chevron-right::before {
  content: "&gt;"; }
